main {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white;
  transition: transform ease-in-out 0.3s;
}

#wrapper {
  width: 100%;
  height: 90vhv;
}

#container {
  height: auto;
  margin: 6px;
  padding: 1.2em;
  height: fit-content;
}

#empty {
  font-weight: bolder;
  margin: 10% auto;
  display: none;
}

#box2 {
  gap: 8px;
}

#main-info {
  background-color: white;
}
/* 
#detail-info {

} */

.card {
  width: 8rem;
  height: 9rem;
  transition: transform, ease-in-out 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 5px rgb(168, 168, 168);
}

#wind-deg {
  font-size: small;
}

.nav-link:active {
  border-bottom: 2px solid black;
}

@media only screen and (min-width: 769px) {
  #box2 {
    gap: 2.5rem;
  }

  .card {
    width: 12rem;
    height: 7rem;
  }
}

/* 
#detail-info {
  border: 1px solid red;
} */
/* 
img {
  border: 1px solid red;
} */
