*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  color: white;
  background-image: url("../assets/bg2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform ease-in-out 0.3s;
}

#wrapper {
  width: 100%;
  height: 90vhv;
  padding-top: 3vh;
}

.nav-link {
  color: white;
  width: fit-content;
}

#collapse {
  margin: 0 auto;
  width: fit-content;
}

.navbar-toggler {
  background-color: gray;
  border: none;
}

.container-fluid {
  gap: 0;
}

#container {
  height: auto;
  margin: 6px;
  padding: 1.2em;
  height: fit-content;
}

#empty {
  font-weight: bolder;
  margin: 10% auto;
  display: none;
}

#box1 {
  width: 100%;
  margin-top: 0.5rem;
  color: white;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#city-input {
  color: white;
  width: 125px;
  background-color: gray;
}

#box2 {
  margin-top: 0.5rem;
  color: white;
  gap: 8px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#main-info {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#detail-info {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.card {
  width: 8rem;
  height: 9rem;
  color: white;
  transition: transform, ease-in-out 0.3s;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 5px rgb(168, 168, 168);
}


#wind-deg {
  font-size: smaller;
}

#location {
  font-size: 1rem * 1.75;
}

.deg-forecast {
  font-size: 0.5rem;
}

#humidity {
  font-size: 1.25rem;
}

.info {
  width: 100%;
}

.forecast-description {
  text-transform: capitalize;
}

#maps-box {
  margin-top: 0%;
  width: 100%;
}

.list-card {
  transition: transform, ease-in-out 0.3s;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.list-card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 5px rgb(168, 168, 168);
}

.date-forecast,
.avg-deg-forecast {
  font-size: 0.8rem;
}

#maps {
  width: 100%;
  height: 100px;
}

.profile-card {
  padding: 1.5em 0.5em 0.5em;
  border-radius: 2em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform, ease-in-out 0.3s;
}

.profile-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 5px rgb(168, 168, 168);
}

.title-card {
  font-weight: 700;
  font-size: 1.5em;
}

#pp-img {
  width: 65%;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sosmed {
  list-style: none;
}

@media only screen and (min-width: 769px) {
  .nav-link {
    width: 100%;
  }

  #box1 {
    margin-top: 0px;
  }

  #box2 {
    gap: 2.5rem;
    margin-top: 0px;
  }

  .card {
    width: 12rem;
    height: 7rem;
  }

  #location {
    font-size: 1rem * 2.5;
  }

  .date-forecast,
  .avg-deg-forecast {
    font-size: 1.25rem;
  }

  #wind-deg {
    font-size: small;
  }

  #humidity {
    font-size: 2.5rem
  }

  #city-input {
    width: auto;
  }

  #maps {
    width: 100%;
    height: fit-content;
  }
}
